<div class="jumbotron">
    <h1>Trip Calculator</h1>
    <p class="lead">A sipmle calculator for settling purchase discrepancies after a group trip!</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Querying with the API</h2>
        <p>The API may be queried at /api/tripexpenses. It should be structed as follows:</p>
        <code>
            {
                "TripMembers": [
                    { "name": "Alice", "Expenses": [ 1.25, 1.50, 5.67, 98.41 ] },
                    { "name": "Brandon", "Expenses": [ 49.96, 87.12, 105.78 ] },
                    { "name": "Catherine", "Expenses": [ 1.01, 1.12, 2.23, 3.34, 5.45, 8.56 ] }
                ]
            }
        </code>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviewing results from the API</h2>
        <p>The API will return a result from /api/tripexpenses. It will be structured as follows:</p>
        <code>
            
        </code>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow on Github</h2>
        <p>This project is still very much a work in progress, <a href="http://github.com/trentdm/TripCalculator">fork it here</a>!</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
