<div class="jumbotron">
    <h1>Trip Calculator</h1>
    <p class="lead">A simple calculator for settling purchase discrepancies after a group trip!</p>
    <p><a href="https://github.com/trentdm/TripCalculator/blob/master/README.md" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Querying with the API</h2>
        <p>The API may be queried at /api/tripexpenses by posting JSON payload containing the expense information.</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reviewing results from the API</h2>
        <p>The API will return a result from /api/tripexpenses containing the calculated settlement amounts and the original query.</p>
        <p><a class="btn btn-default" href="h/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow on Github</h2>
        <p>This project is still very much a work in progress, you can keep up to date with it on the <a href="https://github.com/trentdm/TripCalculator">projects github page</a>!</p>
        <p><a class="btn btn-default" href="https://github.com/trentdm/TripCalculator">Learn more &raquo;</a></p>
    </div>
</div>
